.companies_item_thongke{
}
.companies_item_thongke .card-body{position: relative;}
.companies_item_thongke .card-body i{position: absolute;right: 15px;font-size: 44px !important;color: var(--bs-secondary) !IMPORTANT;}
.companies_item_thongke .card-body h5{font-family: "Archivo Narrow", sans-serif;font-size: 32px;color: var(--bs-primary);}
.companies_item_thongke .card-body p{font-size: 16px;font-weight: 500;color: #000 !important;}
.company-card{
}
.company-card h6{font-size: 15px;color: var(--bs-primary);margin-bottom: 7px !important;text-transform: uppercase;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;}
.company-card .badge{font-family: "Archivo Narrow", sans-serif;font-size: 11px;padding: 3px 7px;}
.company-card .badge i{
}
.company_contact{
}
.company_contact small{font-weight: 600;font-size: 16px;color: #000 !important;}
.company_contact p{font-size: 14px !IMPORTANT;margin-bottom: 6px;}
.company_contact p i{color: var(--bs-primary);width: 19px;font-size: 16px;}
.company_thongke{font-family: "Archivo Narrow", sans-serif;font-size: 17px;}
.company_thongke .fw-medium{font-weight: 700 !important;}
.company_thongke small{font-size: 16px;}
.company_footer a{
}
.company_footer button{width: 34px;padding: 7px 5px;text-align: center;color: var(--bs-primary);}
.company_footer button i{margin-right: 0;font-size: 17px;}
.company_footer button:hover{background-color: var(--bs-primary);color: #fff;}