.item_member_list{
}
.item_member_list img{
}
.item_member_list h5{display: block;font-size: 16px;font-weight: 500;}
.item_member_list a{color: #444444;}
.item_member_list .col-4{font-family: "Archivo Narrow", sans-serif;}
.item_member_list .col-4 .fw-bold{font-size: 18px;}
.item_member_list .col-4 .small{
}