{
  "openapi": "3.0.3",
  "info": {
    "title": "Laravel Forum API - Mechamap",
    "description": "Comprehensive API documentation for Laravel Forum system with complete endpoints for thread management, user interactions, and social features.",
    "version": "1.0.0",
    "contact": {
      "name": "Mechamap Development Team",
      "email": "support@mechamap.com",
      "url": "https://mechamap.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://mechamap.com/api/v1",
      "description": "Production server"
    },
    {
      "url": "https://staging.mechamap.com/api/v1",
      "description": "Staging server"
    },
    {
      "url": "http://localhost:8000/api/v1",
      "description": "Development server"
    }
  ],
  "paths": {
    "/cors-test": {
      "get": {
        "tags": ["System"],
        "summary": "Test CORS configuration",
        "description": "Kiểm tra cấu hình CORS của API",
        "responses": {
          "200": {
            "description": "CORS test successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CorsTestResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": ["Authentication"],
        "summary": "User login",
        "description": "Đăng nhập bằng email/username và mật khẩu",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "tags": ["Authentication"],
        "summary": "User registration",
        "description": "Đăng ký tài khoản mới",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registration successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": ["Authentication"],
        "summary": "User logout",
        "description": "Đăng xuất và hủy token",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Logout successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "tags": ["Authentication"],
        "summary": "Get current user info",
        "description": "Lấy thông tin user hiện tại",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "User info retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "tags": ["Users"],
        "summary": "Get list of users",
        "description": "Lấy danh sách users với phân trang và lọc",
        "parameters": [
          {
            "name": "role",
            "in": "query",
            "description": "Lọc theo vai trò",
            "schema": {
              "type": "string",
              "enum": ["admin", "moderator", "member"]
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Lọc theo trạng thái",
            "schema": {
              "type": "string",
              "enum": ["active", "inactive"]
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Tìm kiếm theo tên, username, email",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/SortBy"
          },
          {
            "$ref": "#/components/parameters/SortOrder"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "Users list retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsersListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/{username}": {
      "get": {
        "tags": ["Users"],
        "summary": "Get user details",
        "description": "Lấy thông tin chi tiết của user",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "description": "Username của user",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDetailResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/threads": {
      "get": {
        "tags": ["Threads"],
        "summary": "Get list of threads",
        "description": "Lấy danh sách threads với phân trang và lọc",
        "parameters": [
          {
            "name": "forum_id",
            "in": "query",
            "description": "Lọc theo forum",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "category_id",
            "in": "query",
            "description": "Lọc theo category",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Lọc theo tác giả",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Lọc theo trạng thái",
            "schema": {
              "type": "string",
              "enum": ["approved", "pending", "rejected"]
            }
          },
          {
            "name": "is_sticky",
            "in": "query",
            "description": "Lọc threads được ghim",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "is_locked",
            "in": "query",
            "description": "Lọc threads bị khóa",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "is_featured",
            "in": "query",
            "description": "Lọc threads nổi bật",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Tìm kiếm trong title và content",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sắp xếp theo",
            "schema": {
              "type": "string",
              "enum": ["created_at", "activity", "view_count", "comment_count"]
            }
          },
          {
            "$ref": "#/components/parameters/SortOrder"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "Threads list retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThreadsListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Threads"],
        "summary": "Create new thread",
        "description": "Tạo thread mới",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateThreadRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Thread created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThreadResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/threads/{slug}": {
      "get": {
        "tags": ["Threads"],
        "summary": "Get thread details",
        "description": "Lấy thông tin chi tiết của thread",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug của thread",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thread details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThreadDetailResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/search": {
      "get": {
        "tags": ["Search"],
        "summary": "Global search",
        "description": "Tìm kiếm toàn cục trong threads, forums, users",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Từ khóa tìm kiếm (tối thiểu 2 ký tự)",
            "schema": {
              "type": "string",
              "minLength": 2
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Loại nội dung tìm kiếm",
            "schema": {
              "type": "string",
              "enum": ["all", "threads", "forums", "users"],
              "default": "all"
            }
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "parameters": {
      "SortBy": {
        "name": "sort_by",
        "in": "query",
        "description": "Sắp xếp theo trường",
        "schema": {
          "type": "string",
          "default": "created_at"
        }
      },
      "SortOrder": {
        "name": "sort_order",
        "in": "query",
        "description": "Thứ tự sắp xếp",
        "schema": {
          "type": "string",
          "enum": ["asc", "desc"],
          "default": "desc"
        }
      },
      "PerPage": {
        "name": "per_page",
        "in": "query",
        "description": "Số items mỗi trang",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 50,
          "default": 15
        }
      }
    },
    "responses": {
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "ValidationError": {
        "description": "Validation error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ValidationErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "CorsTestResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "CORS test successful"
          },
          "origin": {
            "type": "string",
            "example": "https://your-domain.com"
          },
          "allowed_origins": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": ["https://mechamap.com", "https://www.mechamap.com"]
          }
        }
      },
      "LoginRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "user@example.com"
          },
          "username": {
            "type": "string",
            "example": "username"
          },
          "password": {
            "type": "string",
            "example": "password123"
          },
          "remember_me": {
            "type": "boolean",
            "default": false
          }
        },
        "anyOf": [
          {
            "required": ["email", "password"]
          },
          {
            "required": ["username", "password"]
          }
        ]
      },
      "RegisterRequest": {
        "type": "object",
        "required": ["name", "username", "email", "password", "password_confirmation", "terms_accepted"],
        "properties": {
          "name": {
            "type": "string",
            "example": "Nguyễn Văn A"
          },
          "username": {
            "type": "string",
            "example": "nguyen_van_a"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "user@example.com"
          },
          "password": {
            "type": "string",
            "example": "password123"
          },
          "password_confirmation": {
            "type": "string",
            "example": "password123"
          },
          "terms_accepted": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "CreateThreadRequest": {
        "type": "object",
        "required": ["title", "content", "forum_id"],
        "properties": {
          "title": {
            "type": "string",
            "example": "Tiêu đề thread mới"
          },
          "content": {
            "type": "string",
            "example": "Nội dung thread..."
          },
          "forum_id": {
            "type": "integer",
            "example": 1
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": ["laravel", "php"]
          },
          "is_sticky": {
            "type": "boolean",
            "default": false
          },
          "is_locked": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "name": {
            "type": "string",
            "example": "Nguyễn Văn A"
          },
          "username": {
            "type": "string",
            "example": "nguyen_van_a"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "user@example.com"
          },
          "role": {
            "type": "string",
            "enum": ["admin", "moderator", "member"],
            "example": "member"
          },
          "bio": {
            "type": "string",
            "nullable": true,
            "example": "Mô tả về bản thân..."
          },
          "location": {
            "type": "string",
            "nullable": true,
            "example": "Hà Nội, Việt Nam"
          },
          "website": {
            "type": "string",
            "nullable": true,
            "example": "https://example.com"
          },
          "avatar_url": {
            "type": "string",
            "example": "https://example.com/avatar.jpg"
          },
          "threads_count": {
            "type": "integer",
            "example": 15
          },
          "comments_count": {
            "type": "integer",
            "example": 45
          },
          "followers_count": {
            "type": "integer",
            "example": 10
          },
          "following_count": {
            "type": "integer",
            "example": 8
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Thread": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "title": {
            "type": "string",
            "example": "Tiêu đề thread"
          },
          "slug": {
            "type": "string",
            "example": "tieu-de-thread"
          },
          "content": {
            "type": "string",
            "example": "Nội dung thread..."
          },
          "status": {
            "type": "string",
            "enum": ["approved", "pending", "rejected"],
            "example": "approved"
          },
          "is_sticky": {
            "type": "boolean",
            "example": false
          },
          "is_locked": {
            "type": "boolean",
            "example": false
          },
          "is_featured": {
            "type": "boolean",
            "example": true
          },
          "view_count": {
            "type": "integer",
            "example": 100
          },
          "comment_count": {
            "type": "integer",
            "example": 15
          },
          "like_count": {
            "type": "integer",
            "example": 25
          },
          "is_liked": {
            "type": "boolean",
            "example": false
          },
          "is_saved": {
            "type": "boolean",
            "example": false
          },
          "is_following": {
            "type": "boolean",
            "example": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "forum": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "slug": {
                "type": "string"
              }
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                },
                "slug": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Đăng nhập thành công."
          },
          "data": {
            "type": "object",
            "properties": {
              "user": {
                "$ref": "#/components/schemas/User"
              },
              "tokens": {
                "type": "object",
                "properties": {
                  "access_token": {
                    "type": "string",
                    "example": "eyJ0eXAiOiJKV1QiLCJhbG..."
                  },
                  "refresh_token": {
                    "type": "string",
                    "example": "random_string_60_chars"
                  },
                  "token_type": {
                    "type": "string",
                    "example": "Bearer"
                  },
                  "expires_in": {
                    "type": "integer",
                    "example": 525600
                  }
                }
              }
            }
          }
        }
      },
      "UserResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "UserDetailResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "user": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "is_following": {
                        "type": "boolean",
                        "example": false
                      },
                      "joined_at": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "UsersListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "$ref": "#/components/schemas/PaginatedResponse"
          }
        }
      },
      "ThreadsListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "$ref": "#/components/schemas/PaginatedResponse"
          }
        }
      },
      "ThreadResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Thread đã được tạo thành công."
          },
          "data": {
            "$ref": "#/components/schemas/Thread"
          }
        }
      },
      "ThreadDetailResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "$ref": "#/components/schemas/Thread"
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "query": {
                "type": "string",
                "example": "laravel"
              },
              "results": {
                "type": "object",
                "properties": {
                  "threads": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/Thread"
                        }
                      },
                      "total": {
                        "type": "integer",
                        "example": 25
                      }
                    }
                  },
                  "forums": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      },
                      "total": {
                        "type": "integer",
                        "example": 5
                      }
                    }
                  },
                  "users": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/User"
                        }
                      },
                      "total": {
                        "type": "integer",
                        "example": 10
                      }
                    }
                  }
                }
              },
              "total_results": {
                "type": "integer",
                "example": 40
              },
              "response_time_ms": {
                "type": "integer",
                "example": 150
              }
            }
          }
        }
      },
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "first": {
                "type": "string",
                "nullable": true
              },
              "last": {
                "type": "string",
                "nullable": true
              },
              "prev": {
                "type": "string",
                "nullable": true
              },
              "next": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "current_page": {
                "type": "integer",
                "example": 1
              },
              "from": {
                "type": "integer",
                "example": 1
              },
              "last_page": {
                "type": "integer",
                "example": 10
              },
              "path": {
                "type": "string"
              },
              "per_page": {
                "type": "integer",
                "example": 15
              },
              "to": {
                "type": "integer",
                "example": 15
              },
              "total": {
                "type": "integer",
                "example": 150
              }
            }
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Thao tác thành công."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Thông báo lỗi"
          },
          "error_code": {
            "type": "string",
            "example": "ERROR_CODE"
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Dữ liệu không hợp lệ."
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": {
              "email": ["Email không hợp lệ."],
              "password": ["Mật khẩu phải có ít nhất 8 ký tự."]
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "System",
      "description": "System endpoints for testing and monitoring"
    },
    {
      "name": "Authentication",
      "description": "User authentication and authorization"
    },
    {
      "name": "Users",
      "description": "User management operations"
    },
    {
      "name": "Threads",
      "description": "Thread CRUD operations and interactions"
    },
    {
      "name": "Search",
      "description": "Search functionality across the platform"
    },
    {
      "name": "Forums",
      "description": "Forum management and navigation"
    },
    {
      "name": "Comments",
      "description": "Comment management and replies"
    },
    {
      "name": "Media",
      "description": "File upload and media management"
    }
  ]
}
